{% extends 'Sbase.html' %}
{% block content %}
<div class="app-content content">
        <div class="content-overlay"></div>
        <div class="content-wrapper">

            <div class="content-body">




<h2>Allotment Detail</h2>

<div class="shopping-cart">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="callout callout-info">
                    <h5><i class="fas fa-info"></i> Note:</h5>
                    This page has been enhanced for printing. Click the print button at the bottom of the invoice to test.
                </div>

                <div class="tab-content pt-1">
                    <div role="tabpanel" class="tab-pane active" id="shop-cart-tab" aria-expanded="true" aria-labelledby="shopping-cart">
                        <div class="card">
                            <!-- Main content -->
                            <div class="invoice p-3 mb-3" id="invoice">
                                <!-- title row -->
                                <div class="row">
                                    <div class="col-12" style="text-align: center;">

                                    </div>

                                    <div class="col-12">
                                        <h4>
                                            <i class="fas fa-globe"></i> Hostel System
                                            <small class="float-right"><b>Request Date:&nbsp;&nbsp;</b>1/6/2023 12:47:39 PM<br></small>
                                        </h4>
                                    </div>
                                    <!-- /.col -->
                                </div>
                                <!-- info row -->
                                <div class="row invoice-info">
                                    <div class="col-4 invoice-col">
                                        <br>
                                        <address>

                                            <b>Stundet #:&nbsp; &nbsp;11356690</b>
                                            <br>
                                            ADU &nbsp; LOVE &nbsp; ADOMA<br>

                                            Programme:&nbsp;&nbsp; BACHELOR OF SCIENCE IN MIDWIFERY<br>
                                            Level :&nbsp;&nbsp; 100<br>Institution : &nbsp;&nbsp; University of Ghana<br>

                                            <br>
                                        </address>
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-4 invoice-col">
                                        <br>
                                        <address>



                                            Phone:&nbsp;&nbsp; 233505513586<br>
                                            Email: &nbsp;&nbsp;Loveadoma50@gmail.com<br>
                                            Guidian Name: &nbsp;&nbsp; Mariam Akua Nipaah<br>
                                            Guidian Contact:&nbsp;&nbsp; 0558352743<br>

                                            <br>
                                        </address>
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-4 invoice-col">
                                        <b>Invoice: &nbsp; &nbsp;cfb3a5e0-6a78-4389-9860-878018fb0a1b</b><br>
                                        <b>Block: &nbsp;&nbsp;</b>Block D<br>
                                        <b>Catgory: &nbsp;&nbsp;</b>REGULAR<br>
                                        <b>Room Type: &nbsp;&nbsp;</b>FOUR IN A ROOM - Self contain with balcony kitchennete (JCR &amp; common area fees inclusive)<br>
                                        <b>Room: &nbsp;&nbsp;</b>D108                                             <i> - Down Bed</i>
                                        <br>


                                        <b>Payment Due:&nbsp;&nbsp;</b> 1/7/2023 12:47:39 PM<br>
                                    </div>
                                    <!-- /.col -->
                                </div>
                                <!-- /.row -->
                                <!-- Table row -->
                                <div class="row">
                                    <div class="col-12 table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>View Receipt</th>                                   <th>paymentID</th>
                                                    <th>Mode</th>
                                                    <th>Bank </th>
                                                    <th>Amount</th>
                                                    <th>Date</th>
                                                    <th>Status</th>

                                                </tr>
                                            </thead>
                                            <tbody>

                                                <tr>
                                                    <td>1</td>
                                                    <td>
                                                        <a class="btn btn-sm btn-info box-shadow-2 round btn-min-width" href="/Student/Receipt/cfb3a5e0-6a78-4389-9860-878018fb0a1b?payid=889f02e9-0b53-42be-8688-6116d333dab0" title="View Receipt"> <i class="fas fa-eye"></i>View Receipt</a>
                                                    </td>
                                                    <td>
                                                        19630
                                                    </td>
                                                    <td>

                                                        BANK

                                                    </td>
                                                    <td>
                                                        CalBank
                                                    </td>


                                                    <td>
                                                        5600
                                                    </td>
                                                    <td>
                                                        1/6/2023 1:33:17 PM
                                                    </td>
                                                    <td>



                                                                <span class="badge badge-success">Success</span>

                                                    </td>

                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.col -->
                                </div>
                                <!-- /.row -->

                                <div class="row" style="margin-bottom:10px;">
                                    <!-- accepted payments column -->
                                    <div class="col-6">



                                    </div>
                                    <!-- /.col -->
                                    <div class="col-6">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <tbody><tr>
                                                    <th style="width:50%">Amount Due:</th>
                                                    <td>5600</td>
                                                </tr>
                                                <tr>
                                                    <th>Amount Paid</th>
                                                    <td>5600</td>
                                                </tr>
                                                <tr>

                                                    <th>Balance:</th>
                                                    <td>0</td>
                                                </tr>

                                            </tbody></table>
                                        </div>
                                    </div>
                                    <!-- /.col -->
                                </div>
                                <!-- /.row -->
                                <!-- this row will not appear when printing -->
                                <div class="row no-print card-footer">
                                    <div class="col-12">
                                        <a href="#" class="btn btn-info btn-glow round px-2" id="printme"><i class="fas fa-print"></i> Print</a>

                                        <a href="/Student/Allotment" class="btn btn-primary btn-glow round px-2 float-right"><i class="fas fa-backward"></i> Back to List</a>


                                    </div>
                                </div>
                            </div>
                            <!-- /.invoice -->

                        </div>

                    </div>

                </div>



            </div><!-- /.col -->
        </div><!-- /.row -->


        </div><!-- /.container-fluid -->
</div>





            </div>
        </div>
    </div>
{% endblock %}