{% extends 'base.html' %} {% block content %}
<div class="pagetitle">
  <h1>Block Management</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{{ url_for('staff_view.dashboard')}}">Home</a>
      </li>
      <li class="breadcrumb-item active">Add/Update Block</li>
    </ol>
  </nav>
</div>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <!-- left column -->
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <!-- general form elements -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Add/Update Block</h3>
          </div>
          <!-- /.card-header -->
          <!-- form start -->
              {% if error %}
          <div role="form">
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong> {{ error }}</strong> You should check in on some of those fields
      below.
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>

    </div>
            {% endif %}

            <form
              action="{{ url_for('staff_view.add_block')}}"
              class="agnet-contact-form"
              id="FormPost"
              method="post"
            >

              <div class="card-body">
                <div class="form-group">
                  <label for="campus">Campus<b class="red">*</b></label>
                  <div>
                    <select class="form-control" id="campus" name="campus">
                      <option value="O">&lt;&lt;Please select&gt;&gt;</option>
                      <option value="north_campus">
                        North Campus
                      </option>
                      <option value="central_campus">
                        Central Campus
                      </option>
                      <option value="north_campus">
                        South Campus
                      </option>
                    </select>
                  </div>
                </div>

                <div class="form-group">
                  <label for="block_name" > Name <b class="red">*</b></label>
                  <div>
                    <input
                      autocomplete="off"
                      class="form-control text-box single-line"
                      id="block_name"
                      name="blockName"
                      placeholder=" Enter Block Name"
                      type="text"
                      value=""
                    />
                    <span
                      class="field-validation-valid text-danger"
                      data-valmsg-for="blockName"
                      data-valmsg-replace="true"
                    ></span>
                  </div>
                </div>

                <div class="form-group">
                  <label for="description">Description<b class="red">*</b></label>
                  <div>
                    <textarea
                      autocomplete="off"
                      class="form-control"
                      cols="100"
                      id="description"
                      name="blockDescription"
                      placeholder="Description"
                      rows="2"
                    ></textarea>

                    <span
                      class="field-validation-valid text-danger"
                      data-valmsg-for="description"
                      data-valmsg-replace="true"
                    ></span>
                  </div>
                </div>

                <div class="form-group">
                  <label for="status">Status</label>
                  <div>
                    <select
                      class="form-control"
                      data-val="true"
                      data-val-number="The field status must be a number."
                      data-val-required="The status field is required."
                      id="status"
                      name="status"
                    >
                      <option value="O">&lt;&lt;Please select&gt;&gt;</option>
                      <option value="Active">Active</option>
                      <option value="Inactive">Inactive</option>
                    </select>
                  </div>
                </div>
              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                <button
                  type="submit"
                  class="btn btn-primary showloader float-left"
                  id="AddData"
                >
                  Submit
                </button>

                <a
                  href=""
                  class="btn btn-sm btn-secondary showloader float-right"
                  >Back to List</a
                >
              </div>
            </form>
          </div>
        </div>
        <!-- /.card -->
      </div>
      <!--/.col (left) -->
      <div class="col-md-3"></div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>

{% endblock %}
