{% extends 'base.html' %} {% block content %}



<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Student</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Student</li>
        </ol>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>

<section class="content">
  <div class="col-12">
    <div class="card recent-sales overflow-auto">
      <div class="card-body">
        <h5 class="card-title"><span>Student List</span></h5>

        <table class="table table-border datatable">
          <thead>
            <tr role="row">
<th
        class="sorting_asc"
        tabindex="0"
        aria-controls="DataTables_Table_0"
        rowspan="1"
        colspan="1"
        style="width: 30.5833px"
        aria-sort="ascending"
        aria-label="#: activate to sort column descending"
      >
        #
      </th>
      <th
        class="sorting"
        tabindex="0"
        aria-controls="DataTables_Table_0"
        rowspan="1"
        colspan="1"
        style="width: 284.2px"
        aria-label="
                               Campus
                            : activate to sort column ascending"
      >
        Student ID
      </th>
      <th
        class="sorting"
        tabindex="0"
        aria-controls="DataTables_Table_0"
        rowspan="1"
        colspan="1"
        style="width: 369.1px"
        aria-label="
                                Name
                            : activate to sort column ascending"
      >
        Name
      </th>
      <th
        class="sorting"
        tabindex="0"
        aria-controls="DataTables_Table_0"
        rowspan="1"
        colspan="1"
        style="width: 199.217px"
        aria-label="
                                Description
                            : activate to sort column ascending"
      >
        Email
      </th>
      <th
        class="sorting"
        tabindex="0"
        aria-controls="DataTables_Table_0"
        rowspan="1"
        colspan="1"
        style="width: 96.3px"
        aria-label="
                                Action
                            : activate to sort column ascending"
      >
        Phone
      </th>
      <th
        class="sorting"
        tabindex="0"
        aria-controls="DataTables_Table_0"
        rowspan="1"
        colspan="1"
        style="width: 96.3px"
        aria-label="
                                Action
                            : activate to sort column ascending"
      >
        Guardian
      </th>
      <th
        class="sorting"
        tabindex="0"
        aria-controls="DataTables_Table_0"
        rowspan="1"
        colspan="1"
        style="width: 96.3px"
        aria-label="
                                Action
                            : activate to sort column ascending"
      >
        Program
      </th>
      <th
        class="sorting"
        tabindex="0"
        aria-controls="DataTables_Table_0"
        rowspan="1"
        colspan="1"
        style="width: 96.3px"
        aria-label="
                                Action
                            : activate to sort column ascending"
      >
        Level
      </th>
      <th
        class="sorting"
        tabindex="0"
        aria-controls="DataTables_Table_0"
        rowspan="1"
        colspan="1"
        style="width: 96.3px"
        aria-label="
                                Action
                            : activate to sort column ascending"
      >
        Gender
      </th>
      <th
        class="sorting"
        tabindex="0"
        aria-controls="DataTables_Table_0"
        rowspan="1"
        colspan="1"
        style="width: 96.3px"
        aria-label="
                                Action
                            : activate to sort column ascending"
      >
        Action

      </th>
            </tr>
          </thead>

          <tbody>
           {% for student in Students %}

        <tr>
          <td></td>
          <td>{{ student.id }}</td>
          <td>{{ student.name }}</td>
          <td>{{ student.email }}</td>
          <td>{{ student.phone }}</td>
          <td>{{ student.guidian }}</td>
          <td>{{ student.program }}</td>
          <td>{{ student.level }}</td>
          <td>{{ student.gender }}</td>
          <td>
      <a href="" class="btn btn-sm btn-info showloader">Edit</a>
      <a href="" class="btn btn-sm btn-danger showloader">Delete</a>

        </tr>
        {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="card-footer">
        <a
          href="{{url_for('staff_view.add_students')}}"
          class="btn btn-sm btn-info showloader float-right"
          >Create New</a
        >
      </div>
    </div>
  </div>
  <!-- /.row -->
</section>
{% endblock %}
